page-map {
  #map { height: 100%; position: fixed; }
  .scroll-content { padding: 0 !important; }
  .toolbar-ios ion-title { padding: 0 90px 0px; }
  #floating-panel {
        position: absolute;
        top: 10px;
        left: 25%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }
}
