page-profile {
  .segment-ios .segment-button.segment-activated { background: #fff; color: #400090; }
  .segment-ios .segment-button { color: #e2e2e2; }
  .segment-md .segment-button.segment-activated { background: #fff; color: #400090; }
  .segment-md .segment-button { color: #e2e2e2; }
  .scroll-content{ padding: 0px !important; border: 0px !important; margin-top: 55px !important; margin-bottom: 40px !important; }

  #map { height: 100%; }
}
